body{
	width:1200px;
	margin:auto;
}

header {
	width:100%;
	heigth:150px;
}

nav {
	width:100%;
}

nav ul {
	display:flex;
	padding-left:350px;
	padding-right:350px;
	margin-top:40px;
}

nav ul li {
	list-style-type:none;
	margin-left:auto;
	margin-right:auto;
}

.menu{
	color:white;
	text-decoration:none;
	width:130px;
	padding:5px;
	font-size:15px;
	border:0.5px solid black;
	border-radius:10px;
	text-align:center;
	background: -webkit-gradient(linear, left top, left bottom, from(#848484), to(#848484), color-stop(0.6,black));
}
#inquiry{
	color:white;
	text-decoration:none;
	width:130px;
	padding:5px;
	font-size:15px;
	border:0.5px solid black;
	border-radius:10px;
	text-align:center;
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#444444), color-stop(0.6,gray))
} 
h1{
	text-align:center;
}

#teamname{
	width:100%;
	margin-top:400px;
	text-align:center;
	font-size:13px;
	background-color:#eeeeee;
}
